.main-page a {
    color:#fff;
    font-size: 2.5rem;
    font-weight:700;
}
.main-page a:hover{
    text-decoration: none;
}
.main-page {
    text-align: center;
    padding-top:200px;
}

.main-page small{
    color: #fff;
}

.smoke {
    background: rgba(0, 0, 0, 0.25);
    width:100%;
    height:calc(100% + 2rem);
    margin:-1rem 0;
}

.clearfix:before, .clearfix:after {
	content: ' ';
	display: table;
}

.clearfix:after {
	clear: both;
}

.grid-items .grid-item {
	background: #6b83a6;
	border-bottom: 9px solid white;
	border-left: 4.5px solid white;
	border-right: 4.5px solid white;
	border-top: 0;
	cursor: pointer;
	float: left;
	height: 14em;
	overflow: hidden;
	outline: none;
	padding: 2em;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.grid-items .grid-item:nth-child(1) {
	background-color: #6b83a6;
	box-shadow: inset 0px 0px 1px 2px #536a8b;
}

.grid-items .grid-item:nth-child(1):focus, .grid-items .grid-item:nth-child(1):hover {
	background-color: #536a8b;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.grid-items .grid-item:nth-child(2) {
	background-color: #3581A5;
	box-shadow: inset 0px 0px 1px 2px #29637e;
}

.grid-items .grid-item:nth-child(2):focus, .grid-items .grid-item:nth-child(2):hover {
	background-color: #29637e;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.grid-items .grid-item:nth-child(3) {
	background-color: #5FBEBE;
	box-shadow: inset 0px 0px 1px 2px #44a6a6;
}

.grid-items .grid-item:nth-child(3):focus, .grid-items .grid-item:nth-child(3):hover {
	background-color: #44a6a6;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.grid-items .grid-item:nth-child(4) {
	background-color: #98C79A;
	box-shadow: inset 0px 0px 1px 2px #77b57a;
}

.grid-items .grid-item:nth-child(4):focus, .grid-items .grid-item:nth-child(4):hover {
	background-color: #77b57a;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.grid-items .grid-item:nth-child(5) {
	background-color: #A7A891;
	box-shadow: inset 0px 0px 1px 2px #909175;
}

.grid-items .grid-item:nth-child(5):focus, .grid-items .grid-item:nth-child(5):hover {
	background-color: #909175;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.grid-items .grid-item:nth-child(6) {
	background-color: #BDCC97;
	box-shadow: inset 0px 0px 1px 2px #a7bb75;
}

.grid-items .grid-item:nth-child(6):focus, .grid-items .grid-item:nth-child(6):hover {
	background-color: #a7bb75;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.grid-items .grid-item:nth-child(7) {
	background-color: #979EA0;
	box-shadow: inset 0px 0px 1px 2px #7c8588;
}

.grid-items .grid-item:nth-child(7):focus, .grid-items .grid-item:nth-child(7):hover {
	background-color: #7c8588;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.grid-items .grid-item img {
	display: block;
	height: 3em;
	margin: 0 auto 1em;
}

.grid-items .grid-item h1 {
	color: white;
	font-size: 1.3em;
	margin-bottom: 0.4em;
}

.grid-items .grid-item p {
	color: rgba(255, 255, 255, 0.7);
	line-height: 1.5em;
	margin: auto;
}

.grid-items .grid-item-image {
	background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
	background-color: #6b83a6;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.grid-items-lines {
	position: relative;
}

.grid-items-lines .grid-item {
	background: white;
	border-bottom: 0px solid rgba(0, 0, 0, 0.2);
	border-right: 0px solid rgba(0, 0, 0, 0.2);
	cursor: pointer;
	float: left;
	height: 5em;
	overflow: hidden;
	outline: none;
	padding: 1.1em;
	text-decoration: none;
}

.grid-items-lines .grid-item img {
	display: block;
	max-width: 100%;
	max-height: 60px;
	margin: auto;
	margin-bottom: 1.2em;
	opacity: 1;
}

.grid-items-lines .grid-item h1 {
	color: #000;
	font-size: 1.3em;
	margin-bottom: 0.4em;
}

.grid-items-lines .grid-item p {
	color: rgba(0, 0, 0, 0.6);
	line-height: 1.5em;
}

.grid-items-lines .bottom-cover {
	background: white;
	bottom: 0px;
	height: 3px;
	position: absolute;
	width: 100%;
}

.grid-items-lines .right-cover {
	background: white;
	height: 100%;
	position: absolute;
	right: 0px;
	width: 4px;
}